# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
venv/
.venv/
env/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Proyecto
code/persistence/datos_sorteos.json
code/assets/**/*.png
code/core/__pycache__/
code/persistence/__pycache__/
