# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
venv/
.venv/
env/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Proyecto — datos sensibles
persistence/datos_sorteos.json

dev/
